
<%= simple_form_for @user, wrapper: :inline do |form| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <h2 class="large-9 large-offset-3 columns">Register or <%= link_to "login", login_path %></h2>
  </div>
  <%= form.input :name, label_html: {class: "inline right"} %>
  <%= form.input :email, label_html: {class: "inline right"} %>
  <%= form.input :password, label_html: {class: "inline right"} %>
  <%= form.input :password_confirmation, label_html: {class: "inline right"} %>
  <div class="row">
    <div class="large-9 large-offset-3 columns">
      <%= form.button :submit, "Register" %>
    </div>
  </div>

<% end %>

